<h2>Edit Link</h2>

<%= render "layouts/errors" %>
<form action="<%= book_url(@book) %>" method="post">
	<%= auth_token_input %>
	<input type="hidden" name="_method" value="put">
	<label>
		Title
		<input type="text" name="book[title]" value="<%= @book.title %>">
	</label><br>
	
	<label>
		Author
		<input type="text" name="book[author]" value="<%= @book.author %>">
	</label><br>
	
	<label for="date">Publication Date</label>
	<input type='date' name="book[publication_date]" value="<%= @book.publication_date %>" id='date'><br>
	
	<label>
		Dewey Decimal Number
		<input type='text' name="book[dewey_decimal_number]" value="<%= @book.dewey_decimal_number %>">
	</label><br>
	
	<label for="status">Status</label>
	<input type='checkbox' id='status' name='book[status]' value='<%= @book.status %>'>Checked out?</input><br>
	
	<input type="submit" value="Update Book">
</form>