<div class='container'>
<h2>Edit Book</h2>

<%= render "layouts/errors" %>
<form action="<%= book_url(@book) %>" method="post">
	<%= auth_token_input %>
	<input type="hidden" name="_method" value="put">
	<label>
		Title
		<input type="text" name="book[title]" value="<%= @book.title %>">
	</label><br>
	
	<label>
		Author
		<input type="text" name="book[author]" value="<%= @book.author %>">
	</label><br>
	
	<label for="date">Publication Date</label>
	<input type='text' name="book[publication_date]" value="<%= @book.publication_date %>" id='date'><br>
	
	<label>
		Dewey Decimal Number
		<input type='text' name="book[dewey_decimal_number]" value="<%= @book.dewey_decimal_number %>">
	</label><br>
	
	<label>Status
		<%if @book.status%>
			<input type='radio' name='book[status]' value="false">Checked in</input>
			<input type='radio' name='book[status]' value="true" checked>Checked out</input>
		<%else%>
			<input type='radio' name='book[status]' value="false" checked>Checked in</input>
			<input type='radio' name='book[status]' value="true">Checked out</input>
		<%end%>
	</label>
	
	<input type="submit" value="Update Book">
</form>
</div>