<h1>Hill Public Library</h1>

<ul>
	<% @books.each do |book| %>
	<li><%= link_to book.title, book_url(book) %><br>
		<%= book.author %><%= book.publication_date %><br><%= book.dewey_decimal_number %><br>
		<% if book.status %>
			checked out
		<%else%>
			checked in
		<%end%>
		<%= button_to "Remove Book", book_url(book), method: :delete %>
	</li>
	<%end%>
</ul>

<%= link_to "New Book", new_book_url%>