<h2>New Book</h2>

<%= render "layouts/errors"%>

<form action="<%= books_url %>" method="post">
	<%= auth_token_input %>
	
	<label>
		Title
		<input type="text" name="book[title]" value="<%= @book.title %>">
	</label><br>
	
	<label>
		Author
		<input type="text" name="book[author]" value="<%= @book.author %>">
	</label><br>
	
	<label for="date">Publication Date</label>
	<input type='date' name="book[publication_date]" value="<%= @book.publication_date %>" id='date'><br>
	
	<label>
		Dewey Decimal Number
		<input type='text' name="book[dewey_decimal_number]" value="<%= @book.dewey_decimal_number %>">
	</label><br>
	
	<label>Status
	<input type='radio' name='book[status]' value="false" checked>Checked in</input>
	<input type='radio' name='book[status]' value="true">Checked out</input>
	</label>
	
	<input type="submit" value="Create New Book">
</form>